{% extends 'layout.twig' %}
{% form_theme addForm 'bootstrap.html.twig' %}

{% set pageTitle = 'Add Tool' %}
{% set subTitle = 'Add Tool' %}

{% block content %}
            <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Tool</h3>
                    </div>
                    <div class="panel-body">


                        {% if canAdd == false %}
                            <div class="alert alert-danger">You have to have an address in order to add tools <br/> please add one in <a href="{{ path('admin.settings', {'type':'address'}) }}">address settings</a> </div>
                        {% endif %}
                        <form id="addToolForm" action="{{ path('admin.tool.add') }}" method="post" {{ form_enctype(addForm) }} novalidate="novalidate" dis>
                            <!-- Token -->
                            {{ form_widget(addForm._token) }}


                            <div class="form-group{% if not addForm.title.vars.valid %}form-group has-error{% endif %}">
                                {{ form_label(addForm.title) }}
                                {{ form_widget(addForm.title) }}
                                {% if not addForm.title.vars.valid %}
                                    {% for error in addForm.title.vars.errors %}
                                        <small>{{ error.message|trans|capitalize }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group{% if not addForm.content.vars.valid %}form-group has-error{% endif %}">
                                {{ form_label(addForm.content) }}
                                {{ form_widget(addForm.content) }}
                                {% if not addForm.content.vars.valid %}
                                    {% for error in addForm.content.vars.errors %}
                                        <small>{{ error.message|trans|capitalize }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group{% if not addForm.price.vars.valid %}form-group has-error{% endif %}">
                                {{ form_label(addForm.price) }}  / {{ 'Day' | trans }}
                                {{ form_widget(addForm.price)}}
                                {% if not addForm.price.vars.valid %}
                                    {% for error in addForm.price.vars.errors %}
                                        <small>{{ error.message|trans|capitalize }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group{% if not addForm.images.vars.valid %}form-group has-error{% endif %}">
                                {{ form_label(addForm.images) }}
                                {{ form_widget(addForm.images, { 'full_name': addForm.images.vars.full_name ~ '[]'} ) }}
                                {% if not addForm.images.vars.valid %}
                                    {% for error in addForm.images.vars.errors %}
                                        <small>{{ error.message|trans|capitalize }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>


                            <div class="form-group">
                                {{ form_label(addForm.tags) }}
                                <ul class="tags" data-prototype="{{ form_widget(addForm.tags.vars.prototype)|e }}">
                                    {% for tag in addForm.tags %}
                                        <li class="tag {% if form_errors(tag) %}has-error error {% endif %}">
                                            <div class="input-group">
                                                {{ form_widget(tag) }}
                                            </div>
                                            {% if not tag.vars.valid %}
                                                {% for error in tag.vars.errors %}
                                                    <small>{{ error.message|trans|capitalize }}</small>
                                                {% endfor %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="form-group">
                                <button id="submit" name="submit" class="btn btn-info">{{ 'Add' | trans }}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
{% endblock %}
{% block scripts %}
    <script src="{{ app.request.baseUrl }}/assets/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
            theme : 'modern',
            skin: 'light',
            selector:'textarea',
            statusbar : false,
            menubar: false
        });</script>
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
        var $newLinkLi = $('<li/>').append($addTagLink);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.tags');
            var nrOfTags = $collectionHolder.find(':input').length;

            $collectionHolder.find('li.tag').each(function() {
                addTagFormDeleteLink($(this));
            });
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', nrOfTags);

            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });

            if(nrOfTags == 0){
                addTagForm($collectionHolder, $newLinkLi);
            }
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li class="tag input-group" />').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a class="input-group-addon btn-danger delete-tag" href="#"><span class="fa fa-minus"></a>');
            $tagFormLi.find(':input').after($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }
        {% if canAdd == false %}
        $("#addToolForm :input").attr("disabled", true);
        {% endif %}

    </script>
{% endblock %}