{% extends 'layout.twig' %}

{% set pageTitle = 'Overview'|trans %}
{% set subTitle = 'Overview'|trans %}

{% block content %}
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Title' | trans  }}</th>
                <th>{{ 'Added on' | trans  }}</th>
                <th class="text-center">{{ 'Status' | trans  }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tool in tools %}
                <tr>
                    <td>{{ tool.id }}</td>
                    <td><a href="{{ path('tool.detail', { 'toolId': tool.id}) }}">{{ tool.title }}</a></td>
                    <td>{{ tool.date|date('Y-m-d H:i:s') }}</td>
                    <td class="text-center"> {{ tool.status |trans }}</td>
                    <td class="text-right">
                        <form action="{{ path('admin.tool.delete', { 'toolId': tool.id}) }}" method="post" class="delete">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans  }}</button>
                        </form>
                    </td>
                    <td class="text-right">
                        <a href="{{ path('admin.tool.edit', { 'toolId': tool.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> {{ 'Edit' | trans  }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block SideNavigation %}
    <li><a href="{{ path('admin.tool.add') }}"><i class="fa fa-plus fa-fw"></i> {{ 'Add' |trans }}</a></li>
{% endblock %}