{% extends 'layout.twig' %}

{% set pageTitle = 'Detail' %}
{% set subTitle = 'Detail' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ tool.title | striptags}}</div>
            <div class="panel-body">
                {{ tool.content | striptags}}
            </div>
        </div>
    </div>
    <div class=" col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Images'|trans }}</div>
            <div class="panel-body">
                {% if images %}
                    {% for image in images %}
                        <div class="col-sm-4">
                            <img class="img-thumbnail img-responsive" src="{{ app.request.baseUrl }}/{{ app['rmt.base_url'] }}/{{ tool.id}}/{{ image }}"/>
                        </div>
                    {% endfor %}
                {% else  %}
                    <p>No images for this product</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Info'|trans }}</div>
            <div class="panel-body">
                {% if tool.price %}
                    <span class="lead">{{ tool.price }}</span> / <small>day</small>
                {% else %}
                    <p>Free!</p>
                {% endif %}

                <button class="btn btn-default">Rent!</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        {% if (tags | length > 0) %}
            <div class="help-block">
                Tags:
                {% for tag in tags %}
                    <a href="{{ path('tool.search') }}?q={{ tag.key }}">{{ tag.key }}</a>{{ loop.last ? '' : ', ' }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block SideNavigation %}
    <li><a href="#"><i class="fa fa-home fa-fw"></i> {{ 'Status'|trans }}: {{ tool.status |trans }}</a></li>

    {% if app.session.get('user')%}
        <li><a href="{{ path('messages.compose', {'to' :  by.username} ) }}"><i class="fa fa-user fa-fw"></i> {{ 'Contact %user%'|trans({'%user%': by.username}) }}</a></li>

        {% if app.session.get('user').id == tool.user_id %}
            <li><a href="{{ path('admin.tool.delete', { 'toolId': tool.id}) }}"><i class="fa fa-trash-o fa-fw"></i> {{ 'Delete' |trans }}</a></li>
            <li><a href="{{ path('admin.tool.edit', { 'toolId': tool.id}) }}"><i class="fa fa-pencil fa-fw"></i> {{ 'Edit' |trans }}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

