{% extends 'layout.twig' %}

{% set pageTitle = 'Detail' %}
{% set subTitle = 'Detail' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ tool.title | striptags}}</div>
            <div class="panel-body">
                {{ tool.content | raw}}
            </div>
        </div>
    </div>
    <div class=" col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Images'|trans }}</div>
            <div class="panel-body">
                {% if images %}
                    <div id="images-preview" class="carousel slide">
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="item">
                                    <img src="{{ app.request.baseUrl }}/{{ app['rmt.base_url'] }}/{{ tool.id}}/{{ image }}" alt="" />
                                </div>
                            {% endfor %}
                        </div><!-- /.carousel-inner -->
                        <a class="carousel-control left" href="#images-preview" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="carousel-control right" href="#images-preview" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!-- /.carousel -->
                {% else %}
                    <p>No images</p>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Info'|trans }}</div>
            <div class="panel-body">
                <p>User: <a href="{{ path('user.profile',{'username':by.username}) }}">{{ by.username }}</a></p>
                <p>
                    {% if tool.price %}
                        <span class="lead">{{ tool.price }}</span> / <small>day</small>
                    {% else %}
                        Free!
                    {% endif %}
                </p>

                {% if app.session.get('user') %}
                    {% if app.session.get('user')['id'] != tool.user_id %}
                        <a href="{{ path('reservations.make', {'id' :  tool.id} ) }}" role="button" class="btn btn-primary">Rent!</a>
                    {% endif %}
                {% else %}
                    <p><a href="{{ path('auth.login') }}">Login</a> and rent this tool!</p>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Similar'|trans }}</div>
            <div class="panel-body">
                {% if (similar | length > 0) %}
                    <ul>
                        {% for tool_similar in similar %}
                            <li><a href="{{ path('tool.detail', {'toolId':tool_similar.id}) }}">{{ tool_similar.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% if (tags | length > 0) %}
            <div class="help-block">
                Tags:
                {% for tag in tags %}
                    <a href="{{ path('tool.search') }}?q={{ tag.key }}">{{ tag.key }}</a>{{ loop.last ? '' : ', ' }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block SideNavigation %}
    <li><a href="#"><i class="fa fa-home fa-fw"></i> {{ 'Status'|trans }}: {{ tool.status |trans }}</a></li>

    {% if app.session.get('user')%}

        {% if app.session.get('user').id != tool.user_id %}
            <li><a href="{{ path('messages.compose', {'to' :  by.username} ) }}"><i class="fa fa-user fa-fw"></i> {{ 'Contact %user%'|trans({'%user%': by.username}) }}</a></li>
        {% else %}
            <li><a href="{{ path('admin.tool.delete', { 'toolId': tool.id}) }}"><i class="fa fa-trash-o fa-fw"></i> {{ 'Delete' |trans }}</a></li>
            <li><a href="{{ path('admin.tool.edit', { 'toolId': tool.id}) }}"><i class="fa fa-pencil fa-fw"></i> {{ 'Edit' |trans }}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('.item:first-child').addClass('active');
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}

