{% extends 'layout.twig' %}

{% set pageTitle = 'Search'|trans %}
{% set subTitle = 'Search'|trans %}

{% block content %}
    <div class="col-lg-12">
        <div class="row">
            {% if tools %}
                {% include 'include/toollist.twig'%}
            {% else %}
                <div class="col-md-4">
                    <p> No tools found!</p>
                </div>
            {% endif %}
        </div>

    </div>

    {% set prevPage = curPage - 1 %}
    {% set nextPage = curPage + 1 %}
    {% set currentPath = app.request.getBaseUrl ~ app.request.getPathInfo ~ '?q='~ searchQuerry ~ '&includeOwn=' ~ includeOwn  ~ '&zip=' ~ zip %}
    <div class="text-center">

        {% if numPages > 1 %}
            <ul class="pagination pagination-sm">
                {% if curPage > 1 %}
                    <li class="previousPage"><a href="{{ currentPath }}&p={{ prevPage }}" data-p="{{ prevPage }}">< Previous</a></li>
                {% else %}
                    <li class="previousPage disabled"><span>< Previous</span></li>
                {% endif %}
                {% for page in pagination %}
                    <li {% if page == curPage %} class="active"{% endif %}{% if page == '...' %} class="disabled"{% endif %}>
                        {% if page == curPage %}
                            <span>{{ page }}</span>
                        {% elseif page == '...' %}
                            <span>…</span>
                        {% else %}
                            <a href="{{ currentPath }}&p={{ page }}" data-p="{{ page }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if curPage < numPages %}
                    <li class="nextPage"><a href="{{ currentPath }}&p={{ nextPage }}" data-p="{{ nextPage }}">Next ></a></li>
                {% else %}
                    <li class="nextPage disabled"><span>Next ></span></li>
                {% endif %}
            </ul>
        {% endif %}
        <p class="text-muted">
            <em>{{ numItems }} items</em>
        </p>
    </div>

{% endblock %}


{% block searchForm %}
    <h3>Filters</h3>

    <h4>Location</h4>
    <div class="form-group">
        <label for="zip">Zipcode</label>
        <input type="text" class="form-control" id="zip" name="zip" {% if zip %}value="{{ zip }}" {% endif %} placeholder="Enter zipcode">
    </div>

    <div class="form-group">
        <label for="zip">State Province Region</label>
        <input type="text" class="form-control" id="stateProvinceRegion" name="stateProvinceRegion" {% if stateProvinceRegion %}value="{{ stateProvinceRegion }}" {% endif %} placeholder="Enter zipcode">
    </div>

    <h4>Price</h4>
    <div class="checkbox search-filter">
        <label>
            <input type="checkbox" name="free"  {% if free == 'on' %}checked="checked"{% endif %}> Show only Free?
        </label>
    </div>

    <h4>Available</h4>
    <div class="form-group">
        <label class="control-label" for="start_date">Start date</label>
        <input type="text" id="start_date" name="start_date" class="form-control datepicker" {% if start_date %}value="{{ start_date }}" {% endif %}>
    </div>

    <div class="form-group">
        <label class="control-label" for="end_date">End date</label>
        <input type="text" id="end_date" name="end_date" class="form-control datepicker" {% if end_date %}value="{{ end_date }}" {% endif %}>
    </div>


    {% if app.session.get('user') %}
        <h4>Your tools</h4>
        <div class="checkbox search-filter">
            <label>
                <input type="checkbox" name="includeOwn"  {% if includeOwn == 'on' %}checked="checked"{% endif %}> Show own tools?
            </label>
        </div>
    {% endif %}

    <div class="search-filter">
        <button class="btn btn-default" type="submit">
            <i class="fa fa-search"> Search</i>
        </button>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/datepicker/css/datepicker.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $('input[type="date"]').addClass('datepicker').prop('type','text');

        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#start_date').datepicker({
            format: 'yyyy-mm-dd',
            onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            $('#end_date')[0].focus();
        }).data('datepicker');
        var checkout = $('#end_date').datepicker({
            format: 'yyyy-mm-dd',
            onRender: function(date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            checkout.hide();
        }).data('datepicker');

    </script>
{% endblock %}