{% extends 'layout.twig' %}

{% set pageTitle = 'Search'|trans %}
{% set subTitle = 'Search'|trans %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Search result' |trans }}</div>
            <div class="panel-body">
                {% if search_result %}
                    {% for result in search_result  %}
                        <a href="{{ path('tool.detail', { 'toolId':  result.id }) }}" class="list-group-item">
                            <strong><span class="name">{{  result.username }}</span></strong> has <span class="">{{ result.title |slice(0, 20) |striptags}}</span>
                            <span class="text-muted">- {{ result.content |slice(0, 50) |striptags  }}</span>
                        </a>
                    {% endfor %}
                {% else %}
                    <div>No tools found!</div>
                {% endif %}
            </div>
        </div>

        {% set prevPage = curPage - 1 %}
        {% set nextPage = curPage + 1 %}
        {% set currentPath = app.request.getBaseUrl ~ app.request.getPathInfo %}
        
        {% if numPages > 1 %}
            <div class="text-center">
                <ul class="pagination pagination-sm">

                    {% if curPage > 1 %}
                        <li class="previousPage"><a href="{{ currentPath }}?q={{ searchQuerry }}&p={{ prevPage }}" data-p="{{ prevPage }}">< Previous</a></li>
                    {% else %}
                        <li class="previousPage disabled"><span>< Previous</span></li>
                    {% endif %}

                    {% for page in pagination %}
                        <li {% if page == curPage %} class="active"{% endif %}{% if page == '...' %} class="disabled"{% endif %}>
                            {% if page == curPage %}
                                <span>{{ page }}</span>
                            {% elseif page == '...' %}
                                <span>…</span>
                            {% else %}
                                <a href="{{ currentPath }}?q={{ searchQuerry }}&p={{ page }}" data-p="{{ page }}">{{ page }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if curPage < numPages %}
                        <li class="nextPage"><a href="{{ currentPath }}?q={{ searchQuerry }}&p={{ nextPage }}" data-p="{{ nextPage }}">Next ></a></li>
                    {% else %}
                        <li class="nextPage disabled"><span>Next ></span></li>
                    {% endif %}

                </ul>

                <p class="text-muted">
                    <em>{{ numItems }} items</em>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block SideNavigation %}
<li><a href="#"><i class="fa fa-pencil fa-fw"></i> {{ 'Filter' |trans }}</a></li>
{% endblock %}


