{% extends 'layout.twig' %}

{% set pageTitle = 'Login' | trans %}
{% set subTitle = 'Login' |trans %}

{% block content %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Login' |trans }}</div>
            <div class="panel-body">
                <form action="{{ path('auth.login') }}" method="post" {{ form_enctype(loginForm) }} novalidate="novalidate">
                    <!-- Token -->
                    {{ form_widget(loginForm._token) }}

                    <div class="form-group{% if not loginForm.username.vars.valid %}form-group has-error{% endif %}">
                        {{ form_label(loginForm.username) }}
                        {{ form_widget(loginForm.username) }}
                        {% if not loginForm.username.vars.valid %}
                            {% for error in loginForm.username.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group{% if not loginForm.password.vars.valid %}form-group has-error{% endif %}">
                        {{ form_label(loginForm.password) }}
                        {{ form_widget(loginForm.password) }}
                        {% if not loginForm.password.vars.valid %}
                            {% for error in loginForm.password.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <button id="submit" name="submit" class="btn btn-info">{{ 'Login' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Register' | trans }}</div>
            <div class="panel-body">
                <p>{{ 'No account?' | trans }}</p>
                <a class="btn btn-default" href="{{  path('auth.register') }}">{{ 'Register now!' | trans }}</a>
            </div>
        </div>
    </div>

{% endblock %}