{% extends 'layout.twig' %}

{% set pageTitle = 'Welcome' |trans %}
{% set subTitle = 'Welcome' |trans %}

{% block content %}
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'About this' |trans }}</div>
            <div class="panel-body">
               <p>Welcome, <br />
               Here at <strong>{{ 'name'|trans }}</strong> we try to connect the people with tools and give them an oppertunity to share them with others who might need it for one day</p>

                <p>At this moment we have <strong>{{ toolCount }}</strong> tools to offer for you!</p>
                <p>Feel free to sign up and rent or offer yourself!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Language' |trans }}</div>
            <div class="panel-body">
                {{ 'Current language'|trans }}: <strong>{{ 'locale_lang'|trans}}</strong>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Login' |trans }}</div>
            <div class="panel-body">
                <a href="{{ path('auth.login') }}" class="btn btn-default" role="button">{{ 'Login'|trans }}</a>  or  <a href="{{ path('auth.register') }}" class="btn btn-default" role="button">{{ 'Register'|trans }}</a>
            </div>
        </div>
    </div>


{% endblock %}

