{% extends 'layout.twig' %}
{% form_theme form 'bootstrap.html.twig' %}

{% set pageTitle = 'Settings' %}
{% set subTitle = 'Settings' %}

{% block content %}
    <div class="col-lg-12">
        {% include 'admin/settings/' ~ type  ~ '.twig' with {'form' : form } %}
    </div>
{% endblock %}

{% block SideNavigation %}
    <li><a href="{{ path('admin.settings', {type:'profile'}) }}"><i class="fa fa-user fa-fw"></i> {{ 'Profile' |trans }}</a></li>
    <li><a href="{{ path('admin.settings', {type:'address'}) }}"><i class="fa fa-home fa-fw"></i> {{ 'Address' |trans }}</a></li>
    <li><a href="{{ path('admin.settings', {type:'privacy'}) }}"><i class="fa fa-lock fa-fw"></i> {{ 'Privacy' |trans }}</a></li>
{% endblock %}